{% extends 'base.html.twig' %}

{% block title %}Tareas{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Tareas de todos los usuarios✅</h2>

    {{ include('includes/taskList.html.twig') }}
    
</div>
{% endblock %}
